dist/bundle.js filter=lfs diff=lfs merge=lfs -text
dist/linux-unpacked/resources/app.asar filter=lfs diff=lfs merge=lfs -text
dist/hakboard-1.0.0.AppImage filter=lfs diff=lfs merge=lfs -text
dist/hakboard_1.0.0_amd64.snap filter=lfs diff=lfs merge=lfs -text
dist/linux-unpacked/hakboard filter=lfs diff=lfs merge=lfs -text
dist/bundle.js.map filter=lfs diff=lfs merge=lfs -text
dist/linux-unpacked/LICENSES.chromium.html filter=lfs diff=lfs merge=lfs -text
dist/93.bundle.js filter=lfs diff=lfs merge=lfs -text
dist/src_components_CC_binlist-data_json.bundle.js filter=lfs diff=lfs merge=lfs -text
dist/* filter=lfs diff=lfs merge=lfs -text
