# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json

# Build - Exclure uniquement les fichiers volumineux
/build
/dist/*.AppImage
/dist/*.snap
/dist/linux-unpacked/

# Fichiers de configuration
.env
.env.local
.env.development
.env.test
.env.production

# Éditeurs
.vscode/
.idea/
*.swp
*.swo

# Système
.DS_Store
Thumbs.db

# Logs
logs/
*.log

.ideas.*
.toadd.*
toadd.*